body {
    background-color: #F2F2F5;
    padding: 100px
}

.accordion {
    background-color: #fff;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: 1px solid #E6E9F0;
    border-radius: 10px;
    transition: 0.4s;
    margin-top: 30px;

    font-family: "Aeonik", sans-serif;
    font-weight: normal;
    font-size: 17px;
    color: #272F3A;
    text-align: left;
}

.accordion-button {
    display: flex;
    align-items: center;
}

.accordion-icon {
    width: 13px;
    height: 20px;
    margin-right: 20px;
}

.active .accordion-icon {
    content: url("minus.svg");
}

.panel {
    padding: 0 32px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p {
    margin-top: 30px;
    font-size: 15px;
    line-height: 19px;
}